*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    
}

.menu{
    background-color: darkblue;
    display: flex;
    justify-content: center;
}

.menu a{
    color: white;
    text-decoration:  none;
    padding: 15px 20px;
    display: block;
    font-size: 25px;
}

.menu a:hover{
    background-color:  #3722bb;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 16px
}

.card{
    text-align: center;
    color: #00008b;
    background: #fff;
    border-radius:  8px;
    padding: 16px;
    box-shadow: 0 2px 6px rgba(66, 116, 215, 5);
}

.card img{
    width: 350px;
}

.card h1{
    margin-bottom: 15px
}

ol {
    padding-left: 20px;
}

ol li {
    margin-bottom: 6px;
}


.titulo-principal{
    text-align: center;
    color: darkblue;
    padding: 30px 0;
    font-size: 50px;
}

footer {
    background-color: #00008b;
    color: #f5f5f5;
    text-align: center;
    margin-top: 25px;
    padding: 30px 20px;
}

.meu-rodape{
    max-width: 800px;
    margin: auto;
}

footer h2 {
    margin-bottom: 15px;
    font-size: 30px;
}

footer p{
    font-size: 15px;
    margin-bottom: 15px;
}

.card button{
    background-color: #479ded;
    color: #f5f5f5;
    border: #00008b;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 25px;
    font-weight: 700;
}

.card label{
    display: inline-block;
    width: 50px;
    text-align: center;
    font-size: 20px;
    color: #00008b;
}