*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
   
}

.menu{
    background-color: darkblue;
    display: flex;
    justify-content: center;
}

.menu a{
    color: white;
    text-decoration:  none;
    padding: 15px 20px;
    display: block;
    font-size: 25px;
}

.menu a:hover{
    background-color:  #3722bb;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 16px
}

.card{
    background: #fff;
    border-radius:  8px;
    padding: 16px;
    box-shadow: 0 2px 6px rgba(66, 116, 215, 5);
}

.card img{
    width: 350px;
}

ol {
    padding-left: 20px;
}

ol li {
    margin-bottom: 6px;
}

.titulo-principal{
    text-align: center;
    color: darkblue;
}